.container{
	// margin: 0 30px;
	padding: 0 30px;
	max-width: 960px;
	margin: 0 auto;
}

// CLEARFIX ------------------------------------------
.group:after {
  content: "";
  display: table;
  clear: both;
}

// LISTS ---------------------------------------------

