// LINKS -----------------------------------------------------------------
a{
	font-family: $subhead;
	font-weight: 400;
	font-size: 16px;
	color: $blue;
	text-decoration: none;
	display: block;
	-webkit-transition: all .50s ease-in-out;
	transition: all .50s ease-in-out;
}

a:hover{
	color: $black;
}

.pastIssuesLink{
	display: inline-block;
}




//BUTTONS ------------------------------------------------------------------------------------------- 
.button{
	border-radius: 80px;
	font-family: $subhead;
	text-align: center;
	font-size: 13px;
	width: 137px;
	padding-top: 8px;
	padding-bottom: 8px;
  	box-shadow: none;
  	display: inline-block;
  	-webkit-transition: all .50s ease-in-out;
	transition: all .50s ease-in-out;
}

.buttonMain{
	background-color: $blue;
	color: white;
	border: none;
}

.buttonSecondary{
	background-color: transparent;
	color: $blue;
	border: 2px solid $blue;
	padding-top: 6px;
	padding-bottom: 6px;
}

.buttonTertiary{
	background-color: transparent;
	color: $black;
	border: 2px solid $black;
	padding-top: 6px;
	padding-bottom: 6px;
}

.buttonStaffInd{
	background-color: white;
	color: $blue;
}

.buttonLarge{
	max-width: 250px;
}

// Hover states
.buttonMain:hover,
.buttonStaffInd:hover{
	background-color: $black;
	color: white;
}


.buttonSecondary:hover,
.buttonTertiary:hover{
	background-color: $black;
	color: white;
	border: 2px solid $black;
}




