@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,500|Source+Serif+Pro');

// BASIC -------------------------------------------------------------------------------------------
h1{
	font-family: $headline;
	font-weight: normal;
	font-size: 42px;
	color: $black;
	line-height: 44px;
}

h2{
	font-family: $subhead;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $black;
}

h3{
	font-family: $subhead;
	font-weight: 400;
	font-size: 16px;
	color: $black;
}

p{
	font-family: $body;
	font-weight: 400;
	font-size: 18px;
	color: $black;
	line-height: 30px;
	max-width: 500;
	display: block;
}

.finePrint{
	font-family: $subhead;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
}


// NAV -------------------------------------------------------------------------------------------



// FOOTER -------------------------------------------------------------------------------------------

.footerText{
		font-size: 16px;
		line-height: 22px;
}

.footerTextSecondary{
		font-size: 14px;
		line-height: 18px;
}



// MEDIA QUERIES ----------------------------------------------------------
@media (min-width: 768px){

	h1{
		font-size: 56px;
		line-height: 59px;
	}
}
