// COLORS -------------------------------------------------------------------------------------------
$blue: #0496FF;
$black: #4A4A4A;
$creme: #F6F2F1;
$gray: #B3B3B3;

// FONTS -------------------------------------------------------------------------------------------
$headline: 'Abril Fatface', cursive;
$subhead: 'Roboto', sans-serif;
$body: 'Source Serif Pro', serif;