@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,500|Source+Serif+Pro");
.container {
  padding: 0 30px;
  max-width: 960px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 700px) {
    .container {
      padding: 0 60px; } }
  @media (min-width: 700px) {
    .container {
      padding: 0 90px; } }
  @media (min-width: 1100px) {
    .container {
      padding: 0; } }

.group:after {
  content: "";
  display: table;
  clear: both; }

.hrHeavy {
  height: 2px;
  background-color: #4a4a4a; }

.hrLight {
  height: 1px;
  background-color: #b3b3b3; }

.vrLight {
  width: 1px;
  background-color: #b3b3b3; }

.sectionHeader {
  position: relative;
  overflow: hidden;
  text-align: center; }
  .sectionHeader h1 {
    margin: 0 auto 15px auto;
    max-width: 600px; }
  .sectionHeader .contactHeadline {
    margin-bottom: 50px !important; }
  .sectionHeader h3 {
    margin: 0 auto 50px auto;
    max-width: 500px; }

.sectionHeaderSecondary span {
  color: #0496ff; }

.staffBackground {
  background: url("sectionHeader/staffHeaderImg.jpg") center top no-repeat;
  background-size: cover; }

.issuesBackground {
  background: url("sectionHeader/issuesHeaderImg.jpg") center top no-repeat;
  background-size: cover; }

.contactBackground {
  background: url("sectionHeader/contactHeaderImg.jpg") center top no-repeat;
  background-size: cover; }

.advertiseBackground {
  background: url("sectionHeader/advertiseHeaderImg.jpg") center top no-repeat;
  background-size: cover; }

.sectionHeaderLogo {
  border-bottom: 1px solid #b3b3b3;
  padding: 16px 0 10px  0;
  text-align: center; }
  .sectionHeaderLogo img {
    width: 162px; }

.sectionHeaderInfo h1 {
  padding: 55px 0 0 0; }

.sectionHeaderBlue {
  color: #0496ff; }

.sectionHeaderImg {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }
  .sectionHeaderImg img {
    height: 100%; }

.stepIcon {
  position: relative;
  border-radius: 80px;
  background-color: #4a4a4a;
  color: white;
  width: 30px;
  height: 30px;
  font-family: "Roboto", sans-serif; }

.stepIconNumber {
  display: block;
  position: absolute;
  top: 8;
  left: 11; }

.stepIconSpecial {
  background-color: #0496ff;
  color: white; }

.thumbNail {
  width: 100px; }

@media (min-width: 768px) {
  .sectionHeaderInfo h1 {
    padding: 186px 0 0 0; } }
@media (min-width: 975px) {
  .sectionHeaderLogo {
    display: none; } }
h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 42px;
  color: #4a4a4a;
  line-height: 44px; }

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4a4a4a; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a; }

p {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 18px;
  color: #4a4a4a;
  line-height: 30px;
  max-width: 500;
  display: block; }

.finePrint {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px; }

.price {
  font-size: 30px;
  color: #0496ff; }

.footerText {
  font-size: 16px;
  line-height: 22px; }

.footerTextSecondary {
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 59px; } }
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0496ff;
  text-decoration: none;
  display: block;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out; }

a:hover {
  color: #4a4a4a; }

.button {
  border-radius: 80px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 13px;
  width: 137px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: none;
  display: inline-block;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out; }

.buttonMain {
  background-color: #0496ff;
  color: white;
  border: none; }

.buttonSecondary {
  background-color: transparent;
  color: #0496ff;
  border: 2px solid #0496ff;
  padding-top: 6px;
  padding-bottom: 6px; }

.buttonTertiary {
  background-color: transparent;
  color: #4a4a4a;
  border: 2px solid #4a4a4a;
  padding-top: 6px;
  padding-bottom: 6px; }

.buttonStaffInd {
  background-color: white;
  color: #0496ff; }

.buttonLarge {
  max-width: 250px; }

.buttonMain:hover,
.buttonStaffInd:hover {
  background-color: #4a4a4a;
  color: white; }

.buttonSecondary:hover,
.buttonTertiary:hover {
  background-color: #4a4a4a;
  color: white;
  border: 2px solid #4a4a4a; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  transition: all .5s ease;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: none; }

.open {
  opacity: 1;
  visibility: visible; }

nav {
  padding: 0 20px;
  text-align: center; }
  nav .navContainer {
    padding: 10px 0; }
  nav .navSubAd {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px; }
    nav .navSubAd .button {
      display: inline-block; }
  nav .logoContainer {
    position: relative;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px 0; }
  nav .bhWeekly_logo_nav {
    width: 100%; }
  nav .bhWeekly_logo_nav_horizontal {
    width: 0; }
  nav .navItems {
    display: table;
    width: 100%;
    height: 65%; }
  nav .navItemsHolder {
    display: table-cell;
    vertical-align: middle; }
  nav li {
    padding: 20px 0; }
  nav .navLinkOverlay {
    font-size: 20px; }

button.toggle-overlay {
  position: fixed;
  display: block;
  bottom: 0;
  z-index: 1;
  padding: 0;
  width: 100%;
  height: 51px;
  font-size: 16px;
  font-weight: 500;
  color: #0496ff;
  border-radius: 0;
  border: none;
  background-color: white; }

.outer-close {
  background-color: white;
  border-top: 1px solid #0496ff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 51px;
  cursor: pointer; }

a.close span,
a.close span:before,
a.close span:after {
  border-radius: 4px;
  height: 2px;
  width: 30px;
  background: red;
  display: block;
  content: ''; }
a.close span {
  background: transparent; }
a.close span:before {
  transform: rotate(45deg); }
a.close span:after {
  transform: rotate(-45deg); }

@media (min-width: 375px) {
  nav .bhWeekly_logo_nav {
    width: 350px; } }
@media (min-width: 414px) {
  nav .logoContainer {
    padding: 23px 0; } }
@media (min-width: 975px) {
  aside {
    height: initial;
    position: absolute;
    opacity: 1;
    visibility: visible;
    background-color: transparent; }

  nav .navContainer {
    text-align: justify;
    direction: rtl; }
  nav .navContainer:after {
    content: '';
    display: inline-block;
    width: 100%; }
  nav .navSubAd {
    display: inline-block;
    width: initial;
    border: none;
    padding: 0;
    direction: initial; }
  nav .logoContainer {
    height: initial;
    width: initial;
    border: none;
    display: inline-block;
    padding: 0 60px; }
  nav .bhWeekly_logo_nav {
    display: none; }
  nav .bhWeekly_logo_nav_horizontal {
    width: 135px; }
  nav .navItems {
    display: inline-block;
    height: initial;
    width: initial;
    direction: initial; }
  nav .navSubAd,
  nav .logoContainer,
  nav .navItems {
    vertical-align: middle; }
  nav .navItemsHolder {
    display: block; }
  nav li {
    display: inline-block;
    padding: 0 25px 0 0; }
  nav li:last-child {
    padding: 0; }
  nav .navLinkOverlay {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    display: initial; }

  button.toggle-overlay {
    display: none; } }
footer {
  background-color: #f6f2f1 !important;
  padding: 30px 0 99px 0; }
  footer hr {
    color: #4a4a4a; }

#emailBanner,
.footerNav,
.footerContact,
.footerAdjudicated {
  margin-bottom: 50px; }

#emailBanner {
  border: 2px solid #4a4a4a;
  padding: 50px 20px;
  text-align: center; }
  #emailBanner h1 {
    font-size: 30px;
    line-height: 28px; }
  #emailBanner p {
    padding: 35px 0;
    max-width: 365px;
    margin: 0 auto; }
  #emailBanner button {
    max-width: 250px; }

.footerNav {
  display: inline-block; }

.footerList {
  padding: 8px 0;
  float: left; }
  .footerList li {
    margin: 0 0 24px 0; }
  .footerList li:last-child {
    margin: 0; }

.footerButtons {
  float: left;
  margin-left: 35px; }
  .footerButtons .button {
    display: block;
    margin-bottom: 8px; }

.footerContact {
  max-width: 169px; }
  .footerContact p span {
    font-family: "Roboto", sans-serif;
    font-weight: 500; }

.bhlogo {
  width: 42px;
  margin-top: 25px; }

.footerAdjudicated {
  max-width: 224px;
  display: inline-block; }

.copyright {
  border-top: 2px solid #4a4a4a;
  padding-top: 50px; }
  .copyright .bhweekly_logo {
    width: 146px;
    margin-bottom: 15px; }
  .copyright .serving_logo {
    width: 260px;
    margin-top: 15px; }

@media (min-width: 425px) {
  #emailBanner {
    padding: 50px 30px; } }
@media (min-width: 572px) {
  .footerNav,
  .footerContact,
  .footerAdjudicated {
    vertical-align: top; }

  .footerNav,
  .footerContact {
    display: inline-block;
    margin-bottom: 0; }

  .footerAdjudicated {
    margin-top: 50px; }

  .footerContact {
    padding: 0 40px; } }
@media (min-width: 800px) {
  .footerNavContactAd {
    text-align: justify; }

  .footerNavContactAd:after {
    content: '';
    display: inline-block;
    width: 100%; }

  .footerAdjudicated {
    margin-top: 0; }
    .footerAdjudicated p {
      text-align: left; }

  .copyright p,
  .copyright .serving_logo {
    float: right; }
  .copyright p {
    padding-top: 10px; }
  .copyright .serving_logo {
    margin: 0;
    padding: 15px 30px 0 0; } }
@media (min-width: 950px) {
  #emailBanner {
    text-align: justify;
    padding: 30px 30px 35px 30px; }
    #emailBanner h1,
    #emailBanner p,
    #emailBanner .button {
      display: inline-block;
      vertical-align: top; }
    #emailBanner h1,
    #emailBanner p {
      text-align: left; }
    #emailBanner h1 {
      width: 153px; }
    #emailBanner p {
      padding: 8px 0 0 0; }
    #emailBanner .button {
      margin-top: 5px; }

  #emailBanner:after {
    content: '';
    display: inline-block;
    width: 100%; } }
@media (min-width: 975px) {
  footer {
    padding-bottom: 45px; } }
.staffMembers {
  margin: 60px 0;
  text-align: center; }

.staffMembers:after {
  content: '';
  display: inline-block;
  width: 100%; }

.staffHeader {
  text-align: center; }

.staffInd {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 500px;
  text-align: center;
  vertical-align: top;
  border-bottom: 1px solid #b3b3b3; }
  .staffInd .staffPortrait,
  .staffInd h3 {
    margin-bottom: 15px; }
  .staffInd .staffPortrait {
    width: 106px; }
  .staffInd h2 {
    margin-bottom: 5px; }
  .staffInd h3 {
    color: #0496ff; }
  .staffInd .hrHeavy {
    width: 79px;
    margin: 0 auto 25px auto; }
  .staffInd p {
    margin-bottom: 25px; }

.staffInd:nth-child(4) {
  border: none;
  padding-bottom: 0; }

@media (min-width: 768px) {
  .staffMembers {
    margin: 135px 0; }

  .staffInd {
    padding: 80px 0; } }
@media (min-width: 1000px) {
  .staffMembers {
    text-align: justify; }

  .staffInd {
    width: 261px;
    text-align: left;
    display: inline-block;
    border: none;
    padding: 0; }
    .staffInd .hrHeavy {
      margin: 0 0 25px 0; } }
.indStaffContainer {
  margin: 60px auto;
  max-width: 650px; }

.indStaffHeader {
  background-color: #0496ff;
  margin-bottom: 30px;
  padding: 30px;
  max-width: 500px;
  text-align: center;
  box-sizing: border-box; }
  .indStaffHeader .staffPortrait {
    width: 106px; }
  .indStaffHeader h1,
  .indStaffHeader h3 {
    color: white; }
  .indStaffHeader h1 {
    font-size: 30px; }
  .indStaffHeader h3,
  .indStaffHeader .hrLight {
    margin-bottom: 15px; }
  .indStaffHeader .hrLight {
    background-color: white; }

.staffBio p {
  margin: 0 auto;
  max-width: initial; }

.meetNext {
  border-top: 1px solid #b3b3b3;
  padding: 30px 30px 40px 30px;
  margin: 0 auto;
  display: block;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
  box-sizing: border-box; }
  .meetNext h1,
  .meetNext h2,
  .meetNext h3 {
    -webkit-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out; }
  .meetNext h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #0496ff; }
  .meetNext h2 {
    text-align: center;
    margin-bottom: 30px; }

.meetNextPerson {
  text-align: center; }
  .meetNextPerson .staffPortrait {
    width: 106px;
    margin-bottom: 12px; }

@media (min-width: 550px) {
  .indStaffHeader {
    float: left;
    width: 305px;
    margin: 0 30px 0 0;
    text-align: left; }

  .meetNext h2 {
    text-align: left; } }
@media (min-width: 768px) {
  .indStaffContainer {
    margin: 135px auto; }

  .meetNext {
    padding-bottom: 90px; }

  .meetNext:hover {
    background-color: #0496ff;
    border-top: 1px solid #0496ff; }
    .meetNext:hover h1,
    .meetNext:hover h2,
    .meetNext:hover h3 {
      color: white; } }
@media (min-width: 1045px) {
  .indStaffContainer {
    max-width: initial;
    text-align: justify; }

  .indStaffContainer:after {
    content: '';
    display: inline-block;
    width: 100%; }

  .indStaffHeader {
    margin-right: 60px; }

  .indStaffHeader,
  .staffBio {
    display: inline-block; }

  .staffBio p {
    max-width: 500px;
    text-align: left; }

  .meetNext {
    max-width: initial; } }
.advContainer {
  padding: 50px 0;
  text-align: center;
  position: relative; }

.advContainer:after {
  content: '';
  display: inline-block;
  width: 100%; }

.advStep {
  box-sizing: border-box;
  margin: 30px auto 0 auto;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%; }
  .advStep .stepIcon {
    margin: 0 auto; }

.vrLight {
  width: 0; }

.advStepInfo {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  max-width: 300px; }
  .advStepInfo .button {
    margin: 25px 0; }

.finePrint {
  margin: 0 auto; }

@media (min-width: 700px) {
  .advStepInfo {
    padding: 80px 0; } }
@media (min-width: 800px) {
  .advContainer {
    text-align: justify;
    padding: 135px 0; }
    .advContainer .hrLight {
      display: inline-block;
      width: 1px;
      height: 400px;
      vertical-align: top; }

  .advHeader {
    text-align: center;
    margin-bottom: 80px; }

  .advStep {
    width: 47%;
    margin-top: 0;
    border: none;
    vertical-align: top; }
    .advStep .stepIcon {
      margin: 0; }

  .advStepInfo {
    padding: 80px 20px; } }
.contactContainer {
  position: relative;
  padding: 0 0 60px 0; }

.contact_bhLogo {
  position: relative;
  margin: 60px 0 30px 0;
  text-align: center; }
  .contact_bhLogo img {
    max-width: 100%;
    margin: 0 auto; }

.contactInfo {
  position: relative;
  margin-bottom: 60px;
  text-align: center; }
  .contactInfo .button {
    width: 100%; }

.contactInfoType {
  border-bottom: 1px solid #b3b3b3;
  padding: 20px 0; }
  .contactInfoType h2,
  .contactInfoType p {
    margin-left: auto;
    margin-right: auto; }
  .contactInfoType h2 {
    margin-bottom: 5px; }
  .contactInfoType p {
    line-height: 22px; }

.contactInfoType:first-child {
  padding-top: 0; }

.contactInfoType:nth-child(3) {
  border: none; }

.staffContact {
  position: relative;
  margin: 0 auto;
  text-align: center; }

.staffContactInfo {
  border-bottom: 1px solid #b3b3b3;
  padding: 30px 0; }
  .staffContactInfo img {
    width: 106px;
    margin-bottom: 15px; }

.staffContactInfo:first-child {
  padding-top: 0; }

.staffContactInfo:nth-child(3) {
  border: none;
  padding-bottom: 0; }

.contactName h2 {
  margin-bottom: 5px; }
.contactName h3 {
  margin-bottom: 10px; }

@media (min-width: 400px) {
  .contact_bhLogo img {
    max-width: 349px;
    margin: 0 auto; } }
@media (min-width: 500px) {
  .staffContactInfo {
    text-align: left;
    width: 313px;
    margin: 0 auto; }
    .staffContactInfo img,
    .staffContactInfo .contactName {
      display: inline-block;
      vertical-align: top; }
    .staffContactInfo img {
      margin: 0 20px 0 0; }
    .staffContactInfo .contactName h2 {
      margin-bottom: 0; }
    .staffContactInfo .contactName h3 {
      margin-bottom: 7px; }

  .contactInfo {
    text-align: center; }
    .contactInfo .button {
      width: 304px;
      margin-left: auto;
      margin-right: auto; }

  .contactInfoType {
    width: 313px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
    .contactInfoType h2,
    .contactInfoType p {
      display: inline-block;
      vertical-align: top; }
    .contactInfoType h2 {
      font-size: 16px;
      margin-right: 60px;
      width: 59px; }
    .contactInfoType p {
      padding-top: 2px; }

  .staffContactInfo h2 {
    font-size: 16px; } }
@media (min-width: 890px) {
  .contact_bhLogo {
    margin-top: 135px;
    margin-bottom: 80px; }

  .contactContainer {
    text-align: justify;
    padding-bottom: 135px;
    max-width: 800;
    margin: 0 auto; }

  .contactContainer:after {
    content: '';
    display: inline-block;
    width: 100%; }

  .contactInfo,
  .staffContact {
    display: inline-block;
    vertical-align: top; }

  .staffContactInfo {
    border: none;
    padding-top: 0; } }
.subscriptionInfo {
  position: relative;
  margin: 60px 0;
  text-align: center; }

.subscriptionInfo,
.subscriptionInfoDetails,
.subscribeImg {
  transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1); }

.subscriptionInfoDetails li {
  border-bottom: 1px solid #b3b3b3;
  padding: 20px 0; }
.subscriptionInfoDetails li:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 15px; }
.subscriptionInfoDetails p {
  margin: 0 auto; }

.subscribeImg {
  width: 100%;
  margin: 0 auto; }

.howToGetSub {
  border-top: 2px solid #4a4a4a;
  margin-bottom: 60px;
  text-align: center; }
  .howToGetSub h2 {
    padding: 30px 0; }

.howToGetSubSteps li {
  padding: 30px;
  border-bottom: 1px solid #b3b3b3; }
.howToGetSubSteps li:first-child {
  padding-top: 0; }
.howToGetSubSteps li:last-child {
  padding-bottom: 0;
  border: none; }
.howToGetSubSteps .stepIcon {
  margin: 0 auto 15px auto; }
.howToGetSubSteps p {
  margin: 0 auto; }
  .howToGetSubSteps p span {
    font-family: "Roboto", sans-serif;
    font-weight: 600; }

@media (min-width: 500px) {
  .subscribeImg {
    max-width: 60%; } }
@media (min-width: 768px) {
  .subscribeImg {
    max-width: 50%; }

  .sectionHeaderSecondary h1 {
    font-size: 42px;
    line-height: 44px; }

  .subscriptionInfo {
    text-align: justify;
    margin: 186px 0 135px 0; }

  .subscriptionInfo:after {
    content: '';
    display: inline-block;
    width: 100%; }

  .subscriptionInfoDetails,
  .subscribeImg {
    display: inline-block;
    text-align: left; }

  .subscriptionInfoDetails {
    display: inline-block;
    max-width: 44%; }
    .subscriptionInfoDetails p {
      margin: 0; }

  .howToGetSub {
    text-align: left;
    margin-bottom: 135px; }
    .howToGetSub h2 {
      padding: 60px 0; }

  .howToGetSubSteps {
    text-align: left; }
    .howToGetSubSteps li {
      display: inline-block;
      width: 27%;
      vertical-align: top;
      padding: 0 40px 0 0;
      border: none; }
    .howToGetSubSteps li:nth-child(2) p span {
      font-size: 16px; }
    .howToGetSubSteps li:last-child {
      padding-right: 0; }
    .howToGetSubSteps .stepIcon {
      margin: 0 0 15px 0; }
    .howToGetSubSteps p {
      margin: 0; }

  .howToGetSubSteps:after {
    content: '';
    display: inline-block;
    width: 100%; } }
@media (min-width: 850px) {
  .howToGetSubSteps {
    text-align: left; }
    .howToGetSubSteps li {
      padding-right: 50px; } }
@media (min-width: 951px) {
  .sectionHeaderSecondary h1 {
    font-size: 56px;
    line-height: 59px; }

  .howToGetSubSteps li:nth-child(2) p span {
    font-size: 18px; } }
@media (min-width: 1000px) {
  .subscriptionInfoDetails {
    width: 40%; }

  .subscribeImg {
    max-width: 55%; } }
.emailInfo {
  margin: 81px 0 60px 0;
  text-align: center; }

.emailInfoDetails {
  margin-bottom: 60px; }
  .emailInfoDetails li {
    padding: 20px 0;
    border-bottom: 1px solid #b3b3b3; }
    .emailInfoDetails li p {
      margin: 0 auto; }
  .emailInfoDetails li:last-child {
    border: none;
    padding-bottom: 0; }

.emailSignUp {
  position: relative;
  border-top: 2px solid #4a4a4a;
  padding: 30px 0 20px 0; }

#mc_embed_signup {
  background: transparent !important; }

.mc-field-group input,
.mc-field-group label {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px; }
.mc-field-group input {
  padding: 15px !important;
  margin-bottom: 10px;
  font-size: 16px; }
.mc-field-group label {
  margin-bottom: 8px !important; }

.clear {
  position: relative; }

#mc-embedded-subscribe {
  display: block !important;
  border-radius: 80px !important;
  background-color: #0496ff !important;
  font-family: "Roboto", sans-serif !important;
  width: 242px !important;
  margin: 0 auto; }

@media (min-width: 425px) {
  .emailSignUp {
    background: url("/Style/emailFormBack.jpg") center bottom no-repeat;
    background-size: cover;
    padding: 30px 30px 20px; } }
@media (min-width: 768px) {
  .emailInfo {
    text-align: justify;
    margin: 156px 0 135px 0; }

  .emailInfo:after {
    display: inline-block;
    content: '';
    width: 100%; }

  .emailInfoDetails,
  .emailSignUp {
    display: inline-block;
    width: 41%;
    text-align: left;
    vertical-align: top; }

  .emailInfoDetails {
    margin: 0; }
    .emailInfoDetails li p {
      margin: 0; } }
.homeNavContainer {
  max-width: 960px;
  margin: 0 auto 60px auto;
  padding: 10px 10px 0 10px;
  text-align: center; }
  .homeNavContainer .navSubAd {
    padding-bottom: 10px; }
  .homeNavContainer .homeServingButtons {
    border-bottom: 1px solid #b3b3b3; }
  .homeNavContainer .logoServingContainer {
    position: relative;
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0; }
  .homeNavContainer .logoContainer {
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px 0; }
    .homeNavContainer .logoContainer img {
      max-width: 450px;
      margin: 0 auto; }
  .homeNavContainer .bhWeekly_logo_nav {
    width: 100%; }
  .homeNavContainer .navItems {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0; }

.homeContainer {
  position: relative;
  margin: 0 0 60px 0; }

.homeHeader {
  margin: 0 0 30px 0;
  text-align: center; }
  .homeHeader h1 {
    margin-bottom: 5px; }
    .homeHeader h1 span {
      color: #0496ff; }

.recentIssue {
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 1px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  background-color: #0496ff; }
  .recentIssue img {
    width: 100%;
    border: 1px solid #b3b3b3; }
  .recentIssue .buttonHome {
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    position: absolute;
    bottom: 17%;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7); }

@media (min-width: 600px) {
  .recentIssue {
    width: 60%; } }
@media (min-width: 768px) {
  .homeNavContainer {
    margin: 0 auto 100px auto;
    padding: 10px 20px 0 20px; }
    .homeNavContainer .logoContainer {
      padding: 20px 0;
      border-bottom: 2px solid #4a4a4a; }
    .homeNavContainer .homeServingbuttons {
      text-align: justify;
      direction: rtl; }
    .homeNavContainer .homeServingbuttons:after {
      display: inline-block;
      content: '';
      width: 100%; }
    .homeNavContainer .logoServingContainer {
      width: 254px;
      height: initial;
      visibility: visible;
      opacity: 1; }
      .homeNavContainer .logoServingContainer img {
        width: 100%; }
    .homeNavContainer .navSubAd,
    .homeNavContainer .logoServingContainer {
      display: inline-block; }
    .homeNavContainer .navItems {
      visibility: visible;
      opacity: 1;
      width: initial;
      height: initial;
      padding: 12px 0;
      border-bottom: 1px solid #b3b3b3; }
      .homeNavContainer .navItems li {
        display: inline-block;
        margin-right: 30px; }
      .homeNavContainer .navItems li:last-child {
        margin-right: 0; }
      .homeNavContainer .navItems a {
        font-size: 15px; }

  .homeContainer {
    text-align: justify;
    margin-bottom: 110px; }

  .homeContainer:after {
    display: inline-block;
    content: '';
    width: 100%; }

  .homeHeader,
  .recentIssue {
    display: inline-block;
    vertical-align: middle; }

  .homeHeader {
    width: 41%;
    text-align: left; }

  .recentIssue {
    max-width: 50%; }
    .recentIssue .button {
      width: 50%;
      padding: 30px 0; }
    .recentIssue .buttonHome,
    .recentIssue img {
      transition: all .5s ease; }

  .recentIssue:hover img {
    opacity: 0.25; }
  .recentIssue:hover .buttonHome {
    background-color: white;
    color: #0496ff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0); } }
@media (min-width: 975px) {
  .asideContain {
    display: none; }

  .homeNavContainer {
    padding: 10px 0 0 0; } }
